.icon {
  background: linear-gradient(
    90deg,
    rgba(126, 143, 254, 0.234) 0%,
    rgba(152, 115, 255, 0.275) 100%
  );
  border-radius: 8px;
  padding: 15px;
}

.cat-card {
  background: linear-gradient(
    90deg,
    rgba(126, 143, 254, 0.169) 0%,
    rgba(152, 115, 255, 0.09) 100%
  );
  border-radius: 8px;
  padding: 40px;
}

@media only screen and (max-width: 576px) {
  .cat-card {
    padding: 15px;
  }
}
