.active-link a {
  margin-right: 20px;
  margin-left: 20px;
  font-weight: 500;
  font-size: 2.2ex;
  transition: color 0.2s ease-in-out;
}

.navbar {
  background-size: auto;
}

.brand-name {
  transition: 0.2s color ease-in-out;
}

.brand-name:hover {
  color: #b182fd;
}

.active-link a:hover {
  color: #bd94ffca;
}

.title p {
  line-height: 110px;
}

@media only screen and (max-width: 576px) {
  .title p {
    line-height: 50px;
  }
}

.title-purple {
  background: linear-gradient(90deg, #7e8ffebc 0%, #7b4cfe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-bg {
  background-position: left bottom, right top;
  background-repeat: no-repeat;
}
