@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-container .primary-btn {
  background-image: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  border-radius: 8px;
  padding: 16px 22px;
  font-size: 20px;
  color: #ffffff;
  @apply font-medium;
  letter-spacing: 1px;
  transition: background-image 2s ease-in-out;
}

.btn-container .primary-btn:hover {
  background-image: linear-gradient(
    90deg,
    rgba(162, 0, 255, 0.757) 0%,
    #4300fdbc 100%
  );
}

@media only screen and (max-width: 576px) {
  .btn-container .primary-btn {
    padding: 10px 11px;
    font-size: 12px;
    letter-spacing: 0px;
  }
}

.job-btn-container .job-btn {
  background-image: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  border-radius: 5px;
  padding: 10px 13px;
  font-size: 19px;
  color: #ffffff;
  @apply font-medium;
  letter-spacing: 1px;
  transition: background-image 2s ease-in-out;
}

.job-btn-container .job-btn:hover {
  background-image: linear-gradient(
    90deg,
    rgba(162, 0, 255, 0.757) 0%,
    #4300fdbc 100%
  );
}

@media only screen and (max-width: 576px) {
  .job-btn-container .job-btn {
    padding: 10px 11px;
    font-size: 12px;
    letter-spacing: 0px;
  }
}

.description {
  color: rgb(90, 90, 90);
  font-weight: 400;
  font-size: 2.5ex;
}

.description2 {
  color: rgb(90, 90, 90);
  font-weight: 400;
  font-size: 18px;
}

.description3 {
  color: rgb(133, 132, 132);
  font-weight: 450;
  font-size: 18px;
}
